**Exercício 01:**  
  
Reproduza o seguinte [README](https://github.com/ai2-education-fiep-turma-5/02-programacao-python/blob/main/exercicios/aula1/assets/markdown.pdf) utilizando markdown no Jupyter notebook.

## **Resposta:**  
  
## Image Processing in Python
![https://forum.image.sc/tag/scikit-image](https://img.shields.io/badge/Forum-33%20topics-brightgreen?logo=atom)
![https://stackoverflow.com/questions/tagged/scikit-image](https://img.shields.io/badge/stackoverflow-Ask%20questions-informational)  
* **Website (including documentation):** <https://scikit-image.org/>
* **Mailing list:** <https://mail.python.org/mailman/listinfo/scikit-imag>
* **Benchmarks:** <https://pandas.pydata.org/speed/scikit-image/>  
  
### Installation from binaries
* **Debian/Ubuntu:** sudo apt-get install python-skimage
* **OSX:** pip install scikit-image
* **Anaconda:** conda install -c conda-forge scikit-image
* **Windows:** Download [Windows binaries](https://www.lfd.uci.edu/~gohlke/pythonlibs/#scikit-image)

Also see [installing scikit-image](/home/fialhocoelho/Downloads/scikit-image/INSTALL.rst).

### Installation from source  
  
Install dependencies using:  
  
`pip install -r requirements.txt`  
    
Then, install scikit-image using:  
  
`$ pip install .`  
  
If you plan to develop the package, you may run it directly from source:  
  
`$ pip install -e . # Do this once to add package to Python path`  
  
Every time you modify Cython files, also run:  
  
`$ python setup.py build_ext -i # Build binary extensions`  
  
### License (Modified BSD)
Copyright (C) 2011, the scikit-image team All rights reserved.  
  
Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:  

1. Redistributions of source code must retain the above copyright notice, this list of conditions and the
following disclaimer.
1. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and
the following disclaimer in the documentation and/or other materials provided with the distribution.
1. Neither the name of skimage nor the names of its contributors may be used to endorse or promote
products derived from this software without specific prior written permission.  
  
THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; ORBUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
OF THE POSSIBILITY OF SUCH DAMAGE.  
  
### Citation  
  
If you find this project useful, please cite:  

>Stéfan van der Walt, Johannes L. Schönberger, Juan Nunez-Iglesias, François Boulogne, Joshua
D. Warner, Neil Yager, Emmanuelle Gouillart, Tony Yu, and the scikit-image contributors.
scikit-image: Image processing in Python. PeerJ 2:e453 (2014) https://doi.org/10.7717/peerj.453

**Exercício 2:**  
  
O `markdown` não possibilita que redimensionemos a imagem usando a sintaxe `![image_alt](image_path)`. Pesquise uma maneira de inserir a seguinte imagem e redimensioná-la no jupyter notebook.

## **Resposta:**  

É possível redimensionar a imagem usando HTML:  
  
`<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/300px-Jupyter_logo.svg.png" alt="Jupyter Logo" width = "50"/>`  
### Original:  
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/300px-Jupyter_logo.svg.png" alt="Jupyter Logo"/>  
  
### Redimensionada:  
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/300px-Jupyter_logo.svg.png" alt="Jupyter Logo" width = "50"/>

**Exercício 3:**  
  
Como escrever (utilizando uma célula markdown) em texto simples os símbolos utilizados pela sintaxe `( *, #, _ **)`?  
  
Imagem exemplo:  

![Exemplo](https://raw.githubusercontent.com/ai2-education-fiep-turma-5/02-programacao-python/main/exercicios/aula1/assets/lorem.png)

## **Resposta:**  
  
Para escrever caracteres especiais basta adicionar / ao longo dos símbolos:  
  
`Lorem ipsum \*\*dolor sit amet, consectetur adipiscing elit. \_Proin lacinia malesuada lobortis. \#\# Ut aliquam dictum arcu, vel eleifend dolor pellentesque molestie. \~Nam eget augue purus. Ut ac risus libero.`  
  
O texto se torna:  
  
Lorem ipsum \*\*dolor sit amet, consectetur adipiscing elit. \_Proin lacinia malesuada lobortis. \#\# Ut aliquam dictum arcu, vel eleifend dolor pellentesque molestie. \~Nam eget augue purus. Ut ac risus libero.

**Exercício 4:**
Instale o a ferramente matplotlib usando o conda utilizando uma célula do `jupyter notebook`. **Dica 1:** insira -y no final do comando de instalação para que ele não espere sua confirmação para instalação.  
  
**Dica 2:** Pode ser necessário reiniciar o kernel para que o pacote instalado seja identificado pelo `jupyter`. Para fazê-lo: aba superior **Kernel -> Restart**.

In [ ]:
conda install matplotlib

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

# Data for plotting
t = np.arange(0.0, 2.0, 0.01)
s = 1 + np.sin(2 * np.pi * t)

fig, ax = plt.subplots()
ax.plot(t, s)

ax.set(xlabel='time (s)', ylabel='voltage (mV)',
       title='About as simple as it gets, folks')
ax.grid()

plt.show()

**Exercício 5**  
  
Utilize o repositório [profiles](https://github.com/ai2-education-fiep-turma-5/resident-profiles), criar um novo diretório no formato `nome-sobrenome` (utilizar último sobrenome - não utilizar letras maiúsculas). Criar um novo README.md no seu diretório contendo o seu perfil (como uma espécie de mini CV) utilizando `Markdown`.

## **Resposta:**

[Meu perfil](https://github.com/ai2-education-fiep-turma-5/resident-profiles/tree/main/Erick_E).

### Python warmup

Para esse conjunto de exercícios vamos utilizar o dataset [MovieLens 100k](https://grouplens.org/datasets/movielens/100k/)


Os conjuntos de dados do MovieLens foram coletados pelo GroupLens Research Project na Universidade de Minnesota.
 
Este conjunto de dados consiste em:
* 100.000 classificações (1-5) de 943 usuários em 1.682 filmes.
* Cada usuário classificou pelo menos 20 filmes.
* Informações demográficas simples para os usuários (idade, sexo, ocupação, CEP)

Os dados foram coletados por meio do site MovieLens (movielens.umn.edu) durante o período de sete meses a partir de 19 de setembro, 1997 a 22 de abril de 1998. Estes dados foram limpos - usuários que tiveram menos de 20 avaliações ou não tiveram dados demográficos completos informações foram removidas deste conjunto de dados. Descrições detalhadas de o arquivo de dados pode ser encontrado no final deste arquivo.

Utilizando esse Dataset responda as seguintes perguntas. Você deverá utilizar somente as bibliotecas padrões do python, i.e., nenhuma nova biblioteca deve ser adicionada para implementar suas soluções (**isso é um warmup de python!**)

#### Encontrar:
1. O(s) usuário(s) mais crítico(s) na avaliação de filmes.
    * Encontrar aquele id cujas notas são, em média, as menores;
1. O(s) filme(s) mais mal avaliado(s) pelos usuários.
1. O(s) filme(s) mais bem avaliado(s) pelos usuários.
1. Média de avaliação para cada gênero de filmes;
1. Avaliação média de filmes por ano. 
    * Listar qual o ano com a melhor média de avaliação de filmes;
1. Qual a ocupação mais propensa a dar más avaliações a filmes;
    * Encontrar a média de avaliação para cada ocupação de usuário e mostrar os menores e maiores valores

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/home/hub/Project/resident-profiles/Erick_E/Modulo_02/Jupyter/ml-100k/u.data', sep='\t', names=['Usuário','Filme','Avaliação', 'Data'])

print('1. O(s) usuário(s) mais crítico(s) na avaliação de filmes.\n')
print('O usuàrios mais críticos são:')
df.groupby(['Usuário']).mean().sort_values(['Avaliação']).head().drop(['Filme','Data'],axis=1)

1. O(s) usuário(s) mais crítico(s) na avaliação de filmes.

O usuàrios mais críticos são:

         Avaliação
Usuário
181       1.491954
405       1.834464
445       1.985185
685       2.050000
774       2.058036

In [5]:
print('2. O(s) filme(s) mais mal avaliado(s) pelos usuários.\n')
print('Os filmes mais mal avaliados são::')
df.groupby(['Filme']).mean().sort_values(['Avaliação']).head().drop(['Usuário','Data'],axis=1)

2. O(s) filme(s) mais mal avaliado(s) pelos usuários.

Os filmes mais mal avaliados são::

       Avaliação
Filme
1364         1.0
1561         1.0
1559         1.0
1557         1.0
1601         1.0

In [6]:
print('3. O(s) filme(s) mais bem avaliado(s) pelos usuários.\n')
print('Os filmes mais bem avaliados são::')
df.groupby(['Filme']).mean().sort_values(['Avaliação'],ascending=False).head().drop(['Usuário','Data'],axis=1)

3. O(s) filme(s) mais bem avaliado(s) pelos usuários.

Os filmes mais bem avaliados são::

       Avaliação
Filme
814          5.0
1599         5.0
1201         5.0
1122         5.0
1653         5.0

In [13]:
print('4. Média de avaliação para cada gênero de filmes:.\n')
generos = pd.read_csv('/home/hub/Project/resident-profiles/Erick_E/Modulo_02/Jupyter/ml-100k/u.item', sep='|',encoding='latin-1', names=['Nome','Data','','IMDB','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19'])
filmes=df.set_index(['Filme']).astype('int').join(generos,how = 'left', lsuffix='left', rsuffix='right')
filmes.index.name = 'Filme'
media=[]
for i in range(19):
    media.append([i+1,filmes.groupby(str(i+1)).mean()['Avaliação'][1]])
pd.DataFrame(media,columns=["Gênero","Avaliação Média"]).set_index(['Gênero'])

4. Média de avaliação para cada gênero de filmes:.

        Avaliação Média
Gênero
1              3.200000
2              3.480245
3              3.503527
4              3.576699
5              3.353244
6              3.394073
7              3.632278
8              3.672823
9              3.687379
10             3.215237
11             3.921523
12             3.290389
13             3.521397
14             3.638132
15             3.621705
16             3.560723
17             3.509007
18             3.815812
19             3.613269

In [45]:
print('5. Avaliação média de filmes por ano.\n')
filmes["Ano"]=pd.DatetimeIndex(filmes["Dataright"]).year
df2 = filmes.set_index(["Ano"]).groupby(["Ano"]).mean().filter(['Ano','Avaliação'], axis=1)
df2

5. Avaliação média de filmes por ano.

        Avaliação
Ano
1922.0   3.555556
1926.0   3.000000
1930.0   3.777778
1931.0   4.000000
1932.0   3.833333
...           ...
1994.0   3.424716
1995.0   3.366702
1996.0   3.324538
1997.0   3.375151
1998.0   3.324924

[71 rows x 1 columns]

In [46]:
print('6. Qual a ocupação mais propensa a dar más avaliações a filmes.\n')
usuarios = pd.read_csv('/home/hub/Project/resident-profiles/Erick_E/Modulo_02/Jupyter/ml-100k/u.user', sep='|', names=['Idade','Sexo','Ocupação','CEP'])
ocupacao=df.set_index(['Usuário']).astype('int').join(usuarios,how = 'left', lsuffix='left', rsuffix='right')
print(ocupacao.groupby(['Ocupação']).mean().sort_values('Avaliação').filter(['Ocupação','Avaliação'], axis=1))
print('Ocupação mais crítica: {}'.format(ocupacao.groupby(['Ocupação']).mean().sort_values('Avaliação').index[0]))
print('Ocupação menos crítica: {}'.format(ocupacao.groupby(['Ocupação']).mean().sort_values('Avaliação', ascending=False).index[1])) #Index = 1 pois existe uma profissao 'none'

6. Qual a ocupação mais propensa a dar más avaliações a filmes.

               Avaliação
Ocupação
healthcare      2.896220
homemaker       3.301003
executive       3.349104
writer          3.375723
entertainment   3.441050
retired         3.466750
marketing       3.485641
student         3.515143
technician      3.532230
engineer        3.541407
other           3.552377
librarian       3.560781
programmer      3.568260
salesman        3.582944
scientist       3.611273
administrator   3.635646
artist          3.653380
educator        3.670621
doctor          3.688889
lawyer          3.735316
none            3.779134
Ocupação mais crítica: healthcare
Ocupação menos crítica: lawyer